body, html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	background-color: #000;
	overflow: hidden;
}

.boxed {
	background: #fff;
	position: absolute;
	top: 0;
	left: 0;
	width: 10px;
	height: 10px;
	text-align: center;
	overflow: auto;
	border-radius: 16px;
	box-shadow: #000 0 0 43px;
}

#Body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
